# clerk auth https://dashboard.clerk.com/
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# DB Mongo db   https://www.mongodb.com/cloud/atlas/register
MONGODB_URI=

# vercel blob https://vercel.com/   (use all caps when you create on vercel)
bookify_READ_WRITE_TOKEN=""

# VAPI voice assistant https://dashboard.vapi.ai/
NEXT_PUBLIC_ASSISTANT_ID=
NEXT_PUBLIC_VAPI_API_KEY=